*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    transition: .25s;
}

:root{
    --bs-yellow: #FFCC33;
    --bs-bg: #EFEFEF;
    --bs-dark: #1B1400;
    --bs-green: #3ABB75;

    --bs-radius: 8px;
    --bs-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

body{
    overflow-x: hidden;
    background: var(--bs-bg);
}

@media screen and (max-width: 768px) {
    p.small,button.small,a.small{
        font-size: 13px;
    }
}
@media screen and (max-width: 500px) {
    p.small,button.small,a.small{
        font-size: 12px;
    }
}